<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Pizza Paradise - Ordre</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1><span>🍕</span> <a th:href="@{/}">Pizza Paradise</a></h1>
    <nav>
        <a th:href="@{/pizzas}">Se menu</a>
        <a th:href="@{/}">Forside</a>
        <a th:href="@{/users/create}">Opret bruger</a>
        <a th:href="@{/users/login}">Log ind</a>
    </nav>
</header>
<main>
    <h1>Ordre detaljer</h1>
    <p>Ordre ID: <span th:text="${order.id}"></span></p>
    <p>Dato: <span th:text="${order.date}"></span></p>
    <h2>Pizzaer</h2>
    <table>
        <thead>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${order.pizzas}">
            <td th:text="${pizza.name}"></td>
            <td th:text="${pizza.description}"></td>
            <td th:text="|${pizza.calculatePrice()} kr.|"></td>
        </tr>
        </tbody>
    </table>
    <p><strong>Total: <span th:text="${total}"></span> kr</strong></p>
    <a class="btn" th:href="@{/orders/user/{id}(id=${order.userId})}">Tilbage til ordrehistorik</a>
</main>
</body>
</html>