<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Pizza Paradise</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1><span>🍕</span> <a th:href="@{/}">Pizza Paradise</a></h1>
    <nav>
        <a th:href="@{/pizzas}">Se menu</a>
        <a th:href="@{/users/create}">Opret bruger</a>
        <a th:href="@{/users/login}">Log ind</a>
    </nav>
</header>
<main>
    <div class="box">
        <h1>Velkommen til Pizza Paradise 🍕</h1>
        <p>Bestil lækker pizza online – hurtigt og nemt!</p>
        <a class="btn" th:href="@{/pizzas}">Se vores menu</a>
    </div>
</main>
</body>
</html>