<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Pizza Paradise</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Velkommen til Pizza Paradise 🍕</h1>
<nav>
    <a th:href="@{/pizzas}">Se menu</a>
    <a th:href="@{/users/create}" th:if="${session.userId == null}">Opret bruger</a>
    <a th:href="@{/users/login}" th:if="${session.userId == null}">Log ind</a>
    <a th:href="@{/users/logout}" th:if="${session.userId != null}">Log ud</a>
    <a th:href="@{/orders}" th:if="${session.userId != null}">Mine ordrer</a>
</nav>
</body>
</html>